#  pip install --trusted-host mirrors.aliyun.com -i http://mirrors.aliyun.com/pypi/simple/
aniso8601
bcrypt
click==8.1.7
Flask==3.0.3
Flask-RESTful
Flask-SQLAlchemy
itsdangerous==2.2.0
Jinja2==3.1.4
jwt
MarkupSafe==2.1.5
PyJWT
pytz
six
SQLAlchemy
uuid
Werkzeug==3.0.3
