body {
    background: #303030;
}

.navtext{
    margin-left: 3vw;
    font-size: xx-large;
}

.a {
    margin-left: 6.25vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: row;
    gap: 6.25vw;
    flex-wrap: wrap;
}

.blogMake{
    /* margin: 6.25vw;
    margin-top: 5vw; */
    padding: auto;
    width: 25vw;
    height: 22vw;
    border-radius: 30px;
    background: #303030;
    box-shadow:  25px 25px 40px#1d1d1d,
                -25px -25px 40px #434343;
}
.blogMake>p{
    font-size: xx-large;
    margin-left: 5vw;
    margin-top: 7vw;
}
.blogMake>a{
    margin: auto;
}
.done{
    border-radius: 15px;
    background: linear-gradient(145deg, #333333, #2b2b2b);
    box-shadow:  25px 25px 32px #1d1d1d,
                -25px -25px 32px #434343;
    width: 40vw;
    height: 30vw;
    margin-left: 30vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding-left: 15vw;
    padding-top: 11vw;
}
.done>p{
    font-size: x-large;
    color: white;
}
input{
    color: white;
}
