{% extends 'base.html' %}
{% block content %}
<h1 style="color: white;">
    report:
</h1>
<!-- <p style="color: white; font-size: x-large; margin-left: 5vw; margin-right: 5vw; margin-top: 7vh; margin-bottom: 7vh;">
    {{ data }}
</p> -->
<table border="1">
    <thead>
        <tr>
            {% for heading in data[0] %}
            <th style="color: white;">Column {{ loop.index }}</th> <!-- You can modify the column names -->
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for item in row %}
            <td style="color: white;">{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}