{% extends 'base.html' %}
{% block content %}
<h1 style="color: white; font-size: xx-large; margin: auto; margin-top: 3vh;">
    enter an admin username to view
</h1>
<form action="#" method="POST" style="margin-left: 10vw; margin-right: 10vw; margin-bottom: 10vw; margin-top: 10vw;">
    <div class="form-group">
        <label for="exampleInputPassword1">username</label>
        <input type="text" class="form-control" name="q" placeholder="Enter your query">
    </div>
    <button type="submit" class="btn btn-primary">Enter</button>
</form>
{% endblock %}